@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
  margin: auto;
}
@font-face {
  font-family: "BYekanPlus";
  src: url("./assets/fonts/BYekan+.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BYekanPlus", sans-serif !important;
  direction: rtl !important;
  text-align: right;
  background: #f5f0f0;
}
nav ul button {
  color: rgba(0, 0, 0, 0.7);
}

nav ul button:hover {
  color: #ff5252;
}
nav ul button:hover .MuiButtonBase-root {
  background: rgba(0, 0, 0, 0.1) !important;
}
header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}
Button {
  font-family: "BYekanPlus", sans-serif !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
  color: black;
}

.homeCatSlider .swiper-button-prev {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background-color: #f5f0f0;
}
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background-color: #f5f0f0;
}
.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
  font-size: 16px !important;
}
.homeCatSlider .item:hover img {
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}
